 * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'noto sans kr', sans-serif;
            font-size: 16px;
        }

        body {
            background-color: white;
            color: black;
            width: 1920px;
        }